
.app-container {
  display: flex;
  height: 100%;
  overflow: hidden;
}
.sidebar {
  flex: 0 0 250px; /* Fixed width for sidebar */
  background-color: #1a1a2e; /* Example dark color */
  color: #ffffff;
  height: 100%; /* Take full height */
  padding: 10px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

/* Content container */
.content-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #f8f9fa; /* Example light background */
  overflow-y: auto; /* Scrollable if content overflows */
}

/* Navbar */
.navbar {
  flex: 0 0 auto; /* Fixed height */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

/* UserTabs and other content */
.user-tabs {
  padding: 10px;
}
